<h2 class="header">Completed Matches</h2>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class ="b1">
        <button (click)="onDashboardNavigate()" class="btn btn-sm btn-outline-dark" style="margin-left: 10px; margin-top: 10px;" >Admin DashBoard</button>
      </div>
       
      <table class="table table-striped table-hover" >
        <thead>
          <tr>
            <th>No</th>
            <th>First Team Name</th>
            <th>Goals</th>
            <th>Second Team Name</th>
            <th>Goals</th>
            <th>Ground</th>
            <th>Match Status</th>
            <th>Winning Team</th>
           
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let match of finishedMatches; let i = index">
            <td>{{i + 1}}</td>
            <td>{{this.finishedMatches[i]['firstTeam']['name']}}</td>
            <td>{{this.finishedMatches[i]['firstTeamScore']}}</td>
            <td>{{this.finishedMatches[i]['secondTeam']['name']}}</td>
            <td>{{this.finishedMatches[i]['secondTeamScore']}}</td>
            <td>{{this.finishedMatches[i]['ground']['groundName']}}</td>
            <td>{{this.finishedMatches[i]['matchStatus']}}</td>
            <td>
                <!-- <label *ngIf="this.finishedMatches[i]['secondTeamScore'] = this.finishedMatches[i]['firstTeamScore'] ">{{this.matchDraw}}</label> -->
                <label *ngIf="this.finishedMatches[i]['firstTeamScore'] > this.finishedMatches[i]['secondTeamScore'] ">{{this.finishedMatches[i]['firstTeam']['name']}}</label>
                <label *ngIf="this.finishedMatches[i]['firstTeamScore'] < this.finishedMatches[i]['secondTeamScore'] ">{{this.finishedMatches[i]['secondTeam']['name']}}</label>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
    </div>