
 <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Manager Profile</h5>
  </div>

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-head">
                            <h2>
                                {{manager['firstname']}} {{manager['lastname']}}
                            </h2>
                            <h4>
                                <label>Team : </label>
                                 {{manager['team']['name']}}
                            </h4>
                            <h5>Your Team have not Allowed Entry For League</h5>
                            <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                               
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{manager['firstname']}} {{manager['lastname']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{manager['email']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{manager['phone']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Date Of Birth</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{manager['dob']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>City</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{manager['city']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Country</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{manager['country']}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> Status</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Not Allowed </p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>

<div>
<div class="modal-footer">
    <button (click)="onLogOut()" class="btn btn-danger">Log Out</button>
</div>
</div>