<h2 class="header">Team List</h2>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>No</th>
            <!-- <th>Thumbnail</th> -->
            <th>Team Name</th>
            <th>NO Of Matches Played</th>
            <th>No Of Wins</th>
            <th>No Of Lose </th>
            <th>No Of Draws</th>
            <th style="width: 250px;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let team of teamList; let i = index">
            <td>{{i + 1}}</td>
            <td>{{teamList[i]['name']}}</td>
            <td>{{teamList[i]['noOfMatchPlayed']}}</td>
            <td>{{teamList[i]['noOfWin']}}</td>
            <td>{{teamList[i]['noOfLose']}}</td>
            <td>{{teamList[i]['noOfDraws']}}</td>
            <td>
              <button (click)="onBan(this.team[i]['teamId'])" class="btn btn-sm btn-danger" style="margin-left: 10px;">Ban Team</button>
              <button (click)="onPlayerList(this.team[i])" class="btn btn-sm btn-link" style="margin-left: 10px;">Players In Team</button>
            </td>
          </tr> -->
        </tbody>
      </table>
     </div>
    </div>